/* =======================
   COLOR DEFINITIONS
   ======================= */
@define-color bg-main #11111b;
@define-color bg-alt #1e1e2e;
@define-color bg-hover #cdd6f4;

@define-color ws-active-bg #74c7ec;
@define-color ws-active-fg #1e1e2e;

@define-color urgent-bg #1e1e2e;
@define-color urgent-fg #f38ba8;

@define-color cpu-color #94e2d5;
@define-color memory-color #cba6f7;
@define-color clock-color #74c7ec;
@define-color clock-simple #89b4fa;
@define-color window-color #cdd6f4;
@define-color pulseaudio-color #b4befe;
@define-color pulseaudio-muted #a6adc8;

@define-color logo-color #b4befe;
@define-color power-color #f38ba8;

@define-color mpris-playing #a6e3a1;
@define-color mpris-paused #9399b2;

@define-color separator-color #585b70;

/* =======================
   GLOBAL
   ======================= */

* {
  font-family: GeistMonoNerdFontPropo;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
}

tooltip {
  background-color: @bg-alt;
}

window#waybar {
  background-color: transparent;
}

/* =======================
   WORKSPACES
   ======================= */
#workspaces {
}

#workspaces button {
  padding: 0.3rem 0.5rem;
  margin: 0.4rem 0.25rem;
  background-color: @bg-alt;
  border: 2px solid @bg-alt;
  color: transparent;
  transition:
    background-color 200ms ease,
    color 400ms ease,
    padding 200ms ease,
    margin 200ms ease,
    border-radius 200ms ease;
}

#workspaces button:hover {
  color: @ws-active-fg;
  background-color: @bg-hover;
}

#workspaces button.active {
  padding: 0.3rem 1.2rem;
  background-color: transparent;
  color: @ws-active-fg;
}

#workspaces button.urgent {
  background-color: @urgent-bg;
  color: @urgent-fg;
}

/* =======================
   MODULES
   ======================= */

#network,
#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#mpris {
  padding: 0.3rem 0.8rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @bg-alt;
}

/* MPRIS states */
#mpris.playing {
  color: @mpris-playing;
}

#mpris.paused {
  color: @mpris-paused;
}

#custom-sep {
  padding: 0px;
  color: @separator-color;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* Individual module colors */

#cpu {
  color: @cpu-color;
}

#memory {
  color: @memory-color;
}

#clock {
  color: @clock-color;
}

#clock.simpleclock {
  color: @clock-simple;
}

#window {
  color: @window-color;
}

#pulseaudio {
  color: @pulseaudio-color;
}

#pulseaudio.muted {
  color: @pulseaudio-muted;
}

#custom-logo {
  color: @logo-color;
}

#custom-power {
  color: @power-color;
}
